doctype html
head
    title ToxicAven
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description', content='Hai, I\'m Jacob!')
script(src='https://cdn.jsdelivr.net/npm/darkreader@4/darkreader.min.js')
script.
  DarkReader.enable({
    brightness: 100,
    contrast: 100,
    sepia: 5
  });
link(rel='stylesheet' href='/stylesheets/github-markdown.css')
style.
  .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  }
  @media (max-width: 767px) {
  .markdown-body {
  padding: 15px;
  }
  }
article.markdown-body
  h2#-hai-i-m-jacob- &#x1F638; Hai, I&apos;m Jacob!
  p
    | I am A High School Freshman Currently In Vocational School for Computer Networking. My Dream Job is Network Penetration Tester (Ethical Hacking!) I am (Almost) Always up for a conversation about programming, whether it be a Teaching or Learning oppertunity!
  h3#-what-i-am-working-on &#x1F680; What I Am Working on
  ul
    li School
    li Making Minecraft Mods, Resource packs, and Utilities
    li Random Side Projects
  h3#-languages-i-have-functioning-experience-in &#x2699;&#xFE0F; Languages I have functioning experience in
  ul
    li
      | Node.js
      ul
        li Express
        li Discord.js
        li (Learning) Stockfish.js
    li C++
    li Java/Kotlin
    li Python
  h4#languages-im-learning Languages Im learning
  ul
    li Visual Basic
  h3#-communities-i-am-active-in &#x2728; Communities I Am Active In
  ul
    li
      | Minecraft
      ul
       li
          | Anarchy, I Work with the Motorway Extention Gurus! 
          a(href='https://meg.one') MEG&apos;s Website
          li Modding (Particularly for Anarchy servers)
  h3#-projects-i-have-worked-on &#x1F48E; Projects I have worked on
  ul
    li
      a(href='https://github.com/ToxicAven/onryx') Onryx
      | , A small Discord bot I made to get aquainted with Node and D.js
    li
      a(href='https://github.com/ToxicAven/AvenEso') AvenEso
      | , A dumb esoteric language I made when I was sick in bed
    li
      a(href='https://github.org/kami-blue/client') Kami Blue
      | , A now archived minecraft utility mod aimed at anarchy servers
      ul
        li
          | Kami Blue is being continued as 
          a(href='https://github.com/lambda-client/lambda') Lambda Client
  p(align='center')
    img(src='https://github-readme-stats.vercel.app/api?username=ToxicAven&count_private=true&show_icons=true&theme=tokyonight' alt="Jacob Herd's GitHub stats")
  p(align='center')
    a(href='https://spotify-github-profile.vercel.app/api/view?uid=jacobherd229543&redirect=true')
      img(src='https://spotify-github-profile.vercel.app/api/view?uid=jacobherd229543&cover_image=false&theme=default' alt='spotify-github-profile')
  h3#-how-to-contact-me &#x1F4EB; How to contact me
  ul
    li
      | Discord: 
      code ToxicAven#3678
    li
      | Matrix: 
      code @toxicaven:matrix.org
    li
      | I no longer use keybase for public contact, please do not send me a message there.
  h3#-minecraft-1-12-2-resource-packs &#x1F58C;&#xFE0F; Minecraft 1.12.2 Resource Packs
  details
    summary
      b View List
    ul
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/Avens_beta7.zip?raw=true') Aven&apos;s PVP: Beta 7
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/FunnyBuckets.zip?raw=true') Inverted Buckets
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/IllsEndCrystal.zip?raw=true') Illville&apos;s End Crystal
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/NonAnimatedIll.zip?raw=true') Illville&apos;s Blinding Nether
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/NyanNetherrack.zip?raw=true') Nyan Netherrack
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/TwinTowersNetherrack.zip?raw=true') Illville&apos;s Twin Towers Netherrack
      li
        a(href="https://github.com/ToxicAven/ResourcePacks/blob/main/Ill'sAnimatedTotem.zip?raw=true") Illville&apos;s Skin Totem
      li
        a(href='https://github.com/ToxicAven/ResourcePacks/blob/main/IllsCorruptedGapple.zip?raw=true') Illville&apos;s Glitched Gapple
      li
        a(href='https://raw.githubusercontent.com/ToxicAven/ToxicAven/main/experimental.gif') Latest Experimental Pack
      br
      | I also made a few textures on the Motorway Extension Guru&apos;s 
      a(href='https://meg.one/designer/') Pack Designer
      | !
