doctype html

title ToxicAven
link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='Hi, I\'m Jacob!')
link(rel='stylesheet' href='/stylesheets/main.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js')
script(src='https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js')

section#vanta
  .super-navbar.scrolled
    .super-navbar__content
      .super-navbar__item-list
        a.notion-link.super-navbar__item(href='#') Home
        a.notion-link.super-navbar__item(href='/about') About
        a.notion-link.super-navbar__item(href='/contact') Contact
        a.notion-link.super-navbar__item(href='/jukebox') Jukebox

  .jukebox
  h1#jukeHeader I last listened to:
  #imgHome
  .jukeboxText
    h3#trackName Loading...
    h3#trackArtist Loading...
    h3#trackAlbum Loading...

  script.
    loadJSON()
    async function loadJSON() {
      var img = new Image();
      var response = await fetch("/api/getlastfm")
      var json = await response.json()
      console.log(json)
      var track = json.recenttracks.track[0];
      img.src = track.image[3]['#text'];
      imgHome.appendChild(img);
      document.getElementById("trackName").innerHTML = track.name;
      document.getElementById("trackArtist").innerHTML = track.artist['#text'];
      document.getElementById("trackAlbum").innerHTML = track.album['#text'];
    }

script.
  VANTA.GLOBE({
    el: "#vanta",
    mouseControls: false,
    touchControls: false,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color2: 0x0f0f0f,
    size: 1.10
  })