doctype html
head
  meta(charset='UTF-8')
  link(rel='icon' type='image/svg+xml' href='/images/favicon.ico')
  link(rel='stylesheet' type='text/css' href='/stylesheets/troll.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='He spin')
  meta(property='og:title' content='He spin')
  meta(property='og:image' content='/images/kurbi.gif')
  meta(name='twitter:card' content='summary_large_image')
  title he spin
img(src='./images/kurbi.gif' width='300' height='350' alt='trollcrazy')