head
  title 3D Player Totem
  link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='3D Player statue totems for minecraft 1.11 - 1.17.1!')
script(src='https://cdn.jsdelivr.net/npm/darkreader@4/darkreader.min.js')
script.
  DarkReader.enable({
    brightness: 100,
    contrast: 100,
    sepia: 5
  });
style.
  body {
  font-family: verdana;
  font-size: 20px;
  }
input(id='username')

form
  select(id='version')
    option(value='3' selected='') 1.11 - 1.12.2
    option(value='4') 1.13 - 1.14.4
    option(value='5') 1.15 - 1.16.1
    option(value='6') 1.16.2 - 1.16.5
    option(value='7') 1.17 - 1.17.1

button(onclick='download()') Download

script.

  function download() {
    let username = document.getElementById("username").value;
    let versionID = document.getElementById("version").value;
      if (username.length == 0 || username == '') {
        alert('Enter a username');
      } else {
        fetch(`/totem/make/${username}/${versionID}`)
          .then((res) => res.json())
          .then((json) => {
            if (!json.success) throw Error('Failed to generate');
            else window.open(`/totem/download/${json.message}`).focus();
          })
        .catch((err) => alert(err));
      }
    }