doctype html
//
  Website: BSD-3-Clause License -> EmeraldSnorlax, 2021
  Image: Unknown -- If you are the original copyright holder, please contact me!
  https://github.com/EmeraldSnorlax/trollcrazy
  Ported to pug by ToxicAven because I wanted to be funny
head
  meta(charset='UTF-8')
  link(rel='icon' type='image/svg+xml' href='/images/favicon.ico')
  link(rel='stylesheet' type='text/css' href='/stylesheets/troll.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content=':trollcrazy:')
  meta(property='og:title' content=':trollcrazy:')
  meta(property='og:image' content='https://bigrat.monster/media/trollcrazy.png')
  meta(name='twitter:card' content='summary_large_image')
  title :trollcrazy:
img(src='./images/trollcrazy.png' width='128' height='120' alt='trollcrazy')